.jumbotron {
  height: 100px;
  margin: 0px !important;
  background-color: black !important;
  color: white;
}

.navbar {
  background-color: black;
}

.site-footer {
  background-color: black;
  color: white;
}

.meal-type-button {
  background-color: rgb(215, 242, 250);
  margin: 5px;
}

.navbar {
  background-color: rgb(215, 242, 250);
  font-family: "Alegreya Sans";
}

.nav-link {
  color: black;
}
